
.main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;

}
.container-header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header-inner{
    width: 200px;
    display: flex;
    align-items: center;
}
.first-section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    background: url('./img/header-background1.jpg');
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.first-sec-pharze-block{
    display: flex;
    flex-direction: row;
    width: 180vh;
    justify-content: space-around;
    text-align: center;
}

.novinki{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.second-section{
    
    top: 15vh;
    width: 100%;
    height: 75vh;
    background: url('./img/phon-style3.jpg') no-repeat center;
    margin: 0 auto;
    background-size: cover;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-line{
    
    width: 55%;
    margin-left: 0;
    height: 1vh;
    background-color: rgb(39, 37, 39);
}
.second-line{
    margin-top: 5vh;
    margin-bottom: 12vh;
    width: 55%;
    margin-right: 0;
    height: 1vh;
    background-color: rgb(82, 79, 82);

}
.block-line{
    height: 20vh;
}

.motto{
    margin-top: 0;
    font-family: 'Montserrat';
    font-size: 45px;
    margin-left: 50vh;
}
.third-section{
    margin-top: 10vh;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 998;
    background-size: cover;
    
    height: 120vh;
    background: rgb(192, 191, 191);
}
.block2-container{
    display: flex;
        flex-direction: row;
}

.forth-section{
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 0vh;
    background: linear-gradient(45deg, #161616 10%, #4e4d4d 90%);;
}
.footer-container{
    width: 99.8%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 10vh;
    background: url('./img/header-background1.jpg') ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.small-footer-container{
    width: 20%;
    display: flex;
    justify-content: space-around;

}

.footer-text{
color: rgb(245, 245, 245);
font-family: 'Montserrat';
}

#logo-photo{
    width: 80%;
    z-index: 1001;
    margin-left: 1vh;
} 
.nav{
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 80%;
    margin-left: 20%;
    margin-top: 0;
    top: 5%;
    right: 0;
    left: 0;
}

.nav-a{
   
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    text-decoration: none ;
    color:#fff;
    font-size: 30px;
    transition: color 0.5s linear;
    font-family: 'Montserrat';

}
.nav-a:hover{
    color: yellow;
}
.nav-a:after{
    content: "";
    
    width: 100%;
    height: 3px;
    background: yellow;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.nav-a:hover:after{
    opacity: 1;
}
#first-part{
width: 100%;
margin-right: 10vh;  
}
.photo-block-label{
    margin-bottom: 5vh;
    font-size: 45px;
    margin: 0 auto;
    position: absolute;
    top: 17%;
    left: 30%;
    font-family: 'Montserrat';
 
}
.photo-block{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#phon{
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.boot-photo{
    box-shadow: 1px 1px 40px rgb(0, 0, 0);
    border: 3px solid rgb(44, 43, 43);
    width: minmax(10vh, 20vh);
}
.boot-photo, .central{
    width: minmax(10vh, 20vh);
    
    height: 40vh;
    cursor: pointer;
    transition: width, height 0.5s linear;

}
.boot-photo, .left{
    width: minmax(10vh, 20vh);
    height: 40vh;
    cursor: pointer;
    transition: width, height 0.5s linear;

}
.boot-photo, .right{
    width: minmax(10vh, 20vh);
    height: 40vh;
    cursor: pointer;
    transition: width, height 0.5s linear;

}
.boot-photo:hover{
    width: 42vh;
    height: 42vh;
}
.block2-container{
    display: flex;
    flex-direction: column;
}
.phraze-block2{
    display: flex;
    flex-direction: row;
    
}
.phraze-block1{
    display: flex;
    flex-direction: row;
}
.block2{
    width: 50vh;
    margin-left: 10vh;
}
.pic1{
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.first-phraze{
    width: 60%;
    text-align: left;
    margin-left: 6%;
    margin-top: 20vh;
    font-family: 'Montserrat';
}
.second-phraze{
    width: 60%;
    text-align: left;
    margin-left: 6%;
    margin-top: 18vh;
    font-family: 'Montserrat';
}
.button-block{
    height: 3vh;
    margin-top: 0vh;
}

.price{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}
.under-line{
    font-family: 'Montserrat';
    font-size: 30px;
}

.slider-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}
  .slider-photo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18vh;

}
  .slider-photo{
   width: 40vh;
   border: 3px solid black;
  }
  .location{
      font-size: 25px;
      font-family: 'Montserrat';
}
@media(max-width:400px){
    .location{
        font-size: 15px;
        font-family: 'Montserrat';
  }
}
@media(max-width:2200px){
    #logo-photo{
        top: 25%;
        margin-left: 9vh;
        width: 20vh;
        padding: 0px;
    } 
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 25px;
        text-decoration: none ;
        color:#fff;
        font-size: 50px;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
    h1.photo-block-label{
        margin-bottom:0vh;
        font-size: 65px;
        margin: 0 auto;
        position: absolute;
        margin-top: 3vh;
        margin-left: 8vh;
        font-family: 'Montserrat';
    }
    .photo-block{
        display: flex;
        flex-direction: row;
        width: 120vh;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 25vh;
        height: 25vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 25vh;
        height: 25vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width: 25vh;
        height: 25vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: row;
        width: 120vh;
        justify-content: space-around;
        text-align: center;
        }  
}
@media(max-width:1300px){
    #logo-photo{
        top: 25%;
        left: 5%;
        width: 15vh;
        padding: 0px;
    } 
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 25px;
        text-decoration: none ;
        color:#fff;
        font-size: 30px;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
    h1.photo-block-label{
        margin-bottom:0vh;
        font-size: 45px;
        margin: 0 auto;
        position: absolute;
        margin-top: 13vh;
        margin-right: 8vh;
        font-family: 'Montserrat';
    }
    .second-section{
    
        top: 15vh;
        width: 100%;
        height: 45vh;
        background: url('./img/phon-style3.jpg') no-repeat center;
        margin: 0 auto;
        background-size: cover;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media(max-width:1000px){
    .nav{
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content:center;
        width: 70%;
        margin-left: 22%;
        margin-top: 0;
        top: 5%;
        right: 0;
        left: 0;
    }
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 25px;
        text-decoration: none ;
        color:#fff;
        font-size: 20px;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
}
@media(max-width:900px){
    .nav{
        font-size: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content:center;
        width: 80%;
        margin-left: 22%;
        margin-top: 0;
        top: 5%;
        right: 0;
        left: 0;
    }
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 25px;
        text-decoration: none ;
        color:#fff;
        font-size: 25px;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
    #logo-photo{
        top: 25%;
        margin-left: 2vh;
        width: 80%;
        z-index: 1001;
        padding: 0px;
    } 
}
@media(max-width:700px){
    .nav{
        font-size: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content:center;
        width: 35vh;
        margin-left: 13vh;
        margin-top: 0;
        top: 5%;
        right: 0;
        left: 0;
    }
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        text-decoration: none ;
        color:#fff;
        font-size: 20px;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
}
@media(max-width:600px){
    .nav{
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content:center;
        width: 80%;
        margin-left: 22%;
        margin-top: 0;
        right: 0;
        left: 0;
    }
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        text-decoration: none ;
        color:#fff;
        font-size: 15px;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
        margin-top: 1vh;
    }
    #logo-photo{
        width: 10vh;
        padding: 0px;
    } 
    .first-section{
        display: flex;
        align-items: center;
        width: 100%;
        height: 15vh;
        background: url('./img/header-background1.jpg');
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}
@media(max-width: 500px){
    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 15vh;
        background: url('./img/header-background1.jpg');
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .nav{
        text-transform: uppercase;
        display: flex;
        align-items: center;
        width: 20vh;
        top: 6vh;
        margin-right: 8vh;
        left: 0vh !important;
    }
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 10px !important;
        text-decoration: none ;
        color:#fff;
        font-size: 18px !important;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
    img#logo-photo{
        margin-top: 2vh;
        width: 8vh;
    } 
} 
@media(max-width: 400px){
    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 12vh;
        background: url('./img/header-background1.jpg');
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .nav{
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content:center;
        width: 15vh;
        right: 7vh !important;
    }
    a.nav-a{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px !important;
        text-decoration: none ;
        color:#fff;
        font-size: 15px !important;
        transition: color 0.5s linear;
        font-family: 'Montserrat';
    }
    img#logo-photo{
        margin-left: 3vh;
        width: 8vh;
    } 
}
@media(max-width: 300px){
    img#logo-photo{
        top: 2vh;
        width: 10vh;
        z-index: 1001;
        margin-left: 2vh;
    } 
}

@media(max-width: 900px){
    .second-section{
    
        top: 15vh;
        width: 100%;
        height: 110vh;
        background: url('./img/phon-style3.jpg') no-repeat center;
        margin: 0 auto;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 400px){
    .second-section{
    
        top: 10vh;
        width: 100%;
        height: 110vh;
        background: url('./img/phon-style3.jpg') no-repeat center;
        margin: 0 auto;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}
@media(max-width: 900px){
    .small-footer-container{
        width: 50%;
        display: flex;
        justify-content: space-around;
    
    }
}
@media(max-width: 400px){
    .small-footer-container{
        width: 70%;
        display: flex;
        justify-content: space-around;
    
    }
}
@media(max-width: 300px){
    .small-footer-container{
        width: 80%;
        display: flex;
        justify-content: space-around;
    
    }
}
@media(max-width: 1300px){
    .block-line{
        margin-top: 5vh;
        height: 20vh;
    }
    span.motto{
        margin-top: 0;
        font-family: 'Montserrat';
        font-size: 65px;
        margin-left: 0vh;
        }
    
}
@media(max-width: 900px){
    .block-line{
        margin-top: 115vh;
        height: 20vh;
    }
    
}
@media(max-width: 600px){
    .block-line{
        margin-top: 115vh;
        height: 20vh;
    }
    span.motto{
        margin-top: 0;
        font-family: 'Montserrat';
        font-size: 30px;
        margin-left: 0vh;
        }
}
@media(max-width: 400px){
    .block-line{
    height: 20vh;
    margin-top: 110vh;

    }
    span.motto{
    margin-top: 0;
    font-family: 'Montserrat';
    font-size: 30px;
    margin-left: 0vh;
    }
}
@media(max-width: 1300px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 998;
        background-size: cover;
        height: 95vh;
        margin-top:0vh;
        background: rgb(192, 191, 191);
    }
@media(max-width: 1000px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 998;
        background-size: cover;
        height: 70vh;
        margin-top:0vh;
        background: rgb(192, 191, 191);
    }
    h1.first-phraze{
        text-align: left;
        width: 100%;
        font-family: 'Montserrat';
        font-size: 20px;
        margin-top: 6vh;
    }
    h1.second-phraze{
        width: 100%;
        text-align: center;
        font-family: 'Montserrat';
        margin-top: 3vh;
        font-size: 20px;
    } 
}
@media(max-width: 900px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-size: cover;
        height: 80vh;
        background: rgb(192, 191, 191);
    } 
    h1.first-phraze{
        text-align: left;
        width: 100%;
        font-family: 'Montserrat';
        font-size: 20px;
        margin-top: 4vh;
    }
    h1.second-phraze{
        width: 100%;
        text-align: left;
        font-family: 'Montserrat';
        margin-top: 4vh;
        font-size: 20px;
    }
    img.block2{
        width: 30vh;
        height: 30vh;
        margin-left: 5vh;
    }
    .pic1{
        margin-top: 3vh;
        margin-bottom: 10vh;
        
    }
    .pic2{
        margin-top: 3vh;
        margin-bottom: 3vh;

    }
    .block2-container{
        display: flex;
        flex-direction: column;
        
        margin-right: 5vh;
        height: 80vh;
        width: 100%;
    }

    .phraze-block2{
        display: flex;
        flex-direction: row; 
        width: 100%;  
    }
    .phraze-block1{
        width: 100%;  

        display: flex;
        flex-direction: row;
        
    
    }
}
@media(max-width: 700px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 998;
        background-size: cover;
        height: 60vh;
        margin-top:0vh;
        background: rgb(192, 191, 191);
    } 
    h1.first-phraze{
        text-align: left;
        width: 100%;
        font-family: 'Montserrat';
        font-size: 15px;
        margin-top: 4vh;
    }
    h1.second-phraze{
        width: 100%;
        text-align: left;
        font-family: 'Montserrat';
        margin-top: 4vh;
        font-size: 15px;
    }
    img.block2{
        width: 20vh;
        height: 20vh;
        margin-left: 5vh;
    }
    .pic1{
        margin-top: 3vh;
        margin-bottom: 10vh;
        
    }
    .pic2{
        margin-top: 3vh;
        margin-bottom: 3vh;

    }
    .block2-container{
        display: flex;
        flex-direction: column;
        
        margin-right: 5vh;
        height: 80vh;
        width: 100%;
    }

    .phraze-block2{
        display: flex;
        flex-direction: row; 
        width: 100%;  
    }
    .phraze-block1{
        width: 100%;  

        display: flex;
        flex-direction: row;
        
    
    }
}
@media(max-width: 500px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 998;
        background-size: cover;
        height: 50vh;
        background: rgb(192, 191, 191);
    } 
    h1.first-phraze{
        text-align: center;
        
        font-family: 'Montserrat';
        font-size: 12px;
        margin-top: 3vh;
    }
    h1.second-phraze{
        
        text-align: center;
        font-family: 'Montserrat';
        margin-top: 7vh;
        font-size: 12px;
    }
    img.block2{
        width: 15vh;
        height: 15vh;
        margin-left: 3vh;
    }
}
@media(max-width: 400px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 998;
        background-size: cover;
        height: 60vh;
        background: rgb(192, 191, 191);
    } 
    h1.first-phraze{
        text-align: center;
        
        font-family: 'Montserrat';
        font-size: 10px;
        margin-top: -7vh;
        width: 20vh;

    }
    h1.second-phraze{
        
        text-align: center;
        font-family: 'Montserrat';
        margin-top: 0;
        font-size: 10px;
        width: 20vh;
    }
    img.block2{
        width: 15vh;
        height: 15vh;
        margin-left: 0vh;
    }
    .pic1{
        margin-top: 3vh;
        margin-bottom: 10vh;
        
    }
    .pic2{
        margin-top: 3vh;
        margin-bottom: 3vh;

    }
    .block2-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5vh;
        
    }

    .phraze-block2{
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 30vh;  
    }
    .phraze-block1{
        width: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
} 
@media(max-width: 300px){
    .third-section{
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 998;
        background-size: cover;
        height: 95vh;
        background: rgb(192, 191, 191);
    }
}  

@media(max-width: 1300px){
    .novinki{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
       
    }
    .photo-block-label{
        margin-bottom:5vh;
        font-size: 30px;
        margin: 0 auto;
        position: absolute;
        top: 3%;
        left: 25%;
        font-family: 'Montserrat';  
    }
    .photo-block{
        display: flex;
        flex-direction: row;
        width: 100vh;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 20vh;
        height: 20vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 20vh;
        height: 20vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width: 20vh;
        height: 20vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: row;
        width: 100vh;
        justify-content: space-around;
        text-align: center;
        }
}

@media(max-width: 900px){
    h1.photo-block-label{
        margin-bottom:5vh;
        font-size: 35px;
        margin: 0 auto;
        position: absolute;
        margin-top: 0vh;
        left: 25%;
        font-family: 'Montserrat';  
    }
    .photo-block{
        margin-top: 10vh;
        flex-direction: column;
        width: 40vh;
        height: 100vh;
        margin-left: 2vh;
        display: flex;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 20vh;
        height: 20vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 20vh;
        height: 20vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width:20vh;
        height: 20vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: column;
        width: 60vh;
        justify-content: space-around;
        text-align: center;
        }
        .novinki{
            display: flex;
            flex-direction: row; 
            width: 60vh;
        }  
}


@media(max-width: 700px){
    .photo-block-label{
        margin-bottom:5vh;
        font-size: 30px;
        margin: 0 auto;
        position: absolute;
        
        font-family: 'Montserrat';  
    }
    .photo-block{
        margin-top: 10vh;
        flex-direction: column;
        width: 30vh;
        height: 100vh;
        margin-left: 20%;
        display: flex;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 15vh;
        height: 15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 15vh;
        height:15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width: 15vh;
        height: 15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: column;
        width: 60vh;
        justify-content: space-around;
        text-align: center;
        margin-top: 2vh;
        }
        .novinki{
            display: flex;
            flex-direction: row;
            width: 60vh;  
        }  
}
@media(max-width: 600px){
    .photo-block-label{
        margin-bottom:5vh;
        font-size: 30px;
        margin: 0 auto;
        position: absolute;
        top: 3%;
        left: 20%;
        font-family: 'Montserrat';  
    }
    .photo-block{
        margin-top: 10vh;
        flex-direction: column;
        width: 35vh;
        height: 100vh;
        margin-left: 20%;
        display: flex;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 15vh;
        height: 15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 15vh;
        height:15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width: 15vh;
        height: 15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: column;
        width: 60vh;
        justify-content: space-around;
        text-align: center;
        }
        .novinki{
            display: flex;
            flex-direction: row;
            width: 50vh;  
        }  
}
@media(max-width: 500px){
    .photo-block-label{
        margin-bottom:5vh;
        font-size: 30px;
        margin: 0 auto;
        position: absolute;
        top: 3%;
        left: 20%;
        font-family: 'Montserrat';  
    }
    .photo-block{
        margin-top: 10vh;
        flex-direction: column;
        width: 35vh;
        height: 100vh;
        margin-left: 4vh;
        display: flex;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 15vh;
        height: 15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 15vh;
        height:15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width: 15vh;
        height: 15vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: column;
        width: 40vh;
        justify-content: space-around;
        text-align: center;
        }
        .novinki{
            display: flex;
            flex-direction: row;
            width: 40vh;  
 
        } 
        .price{
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
        }
        .under-line{
            font-family: 'Montserrat';
            font-size: 20px;
        } 
}
@media(max-width: 400px){ 
        .novinki{
            display: flex;
            flex-direction: row;
            width: 28vh;
            margin-right: 10%;
        }
    h1.photo-block-label{
        text-align: center;
        margin-bottom:6vh;
        font-size: 25px;
        margin: 0 auto;
        position: absolute;
        font-family: 'Montserrat';  
        margin-right: 5vh;
    }
    .photo-block{
        margin-right: 10%;
        margin-top: 10vh;
        flex-direction: column;
        width: 25vh;
        height: 100vh;
        margin-left: 2vh;
        display: flex;
        justify-content: space-around;
    }
    .boot-photo{
        margin-bottom: 5vh;   
    }
    img.boot-photo, .central{
        width: 10vh;
        height: 10vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .left{
        width: 10vh;
        height: 10vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    img.boot-photo, .right{
        width: 10vh;
        height: 10vh;
        cursor: pointer;
        transition: width, height 0.5s linear;
    
    }
    .first-sec-pharze-block{
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        width: 20vh;
        justify-content: space-around;
        text-align: center;
        margin-right: 2vh;
        } 
        .price{
            font-family: 'Kanit', sans-serif;
            font-size: 25px;
        }
        .under-line{
            font-family: 'Montserrat';
            font-size: 25px;
        }
}
@media(max-width:300px) {
.photo-block{
    margin-top: 10vh;
    flex-direction: column;
    width: 25vh;
    height: 100vh;
    margin-left: 8vh;
    display: flex;
    justify-content: space-around;
} 
.first-sec-pharze-block{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    width: 12vh;
    justify-content: space-around;
    text-align: center;
    margin-right: 2vh;
    } 
.price{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.under-line{
    font-family: 'Montserrat';
    font-size: 20px;
}
}}

